/* import Desk from '../../images/oli-dale-139169-unsplash2.jpg'; */

#showcase{
  min-height: 400px;
  background: url(../../images/lauren-mancke-60627-unsplash.jpg) no-repeat ;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}