/* import Desk from '../../images/oli-dale-139169-unsplash2.jpg'; */
#home{
  text-align: center;
}

#home h2{
  font-size: 30px;
}

.border{
  border-bottom: 1px solid #e53935;
  padding-top: 70px;
}

span{
  color: #e53935;
}



/* .red .darken-2 {
    background-color: #e53935 !important;
} */
.button:active,
.button:hover{
 background-color: transparent;
}

.button{
  background-color: transparent;
  border: 1px solid #e53935;
  color: #e53935;
}


/* showcase */
#showcase{
  min-height: 600px;
  min-width: 100%;
  background: url(../../images/deskBlueGreyLighten-5.png) no-repeat 0 ;
  background-size: cover;
  color: #ffffff;
}

#showcase h1{
  padding-top: 303px;
  font-size: 55px;
  padding-bottom: 10px;
  margin: 0;
}

#showcase p{
  font-size: 26px;
  margin: 0;
}

/* services */
#services{
 color: #ffffff;
}
#services i{
  font-size: 115px;
 }

 #services img{
   width: 100%;
 }


 #services a{
  color: #fff;
}

 /* media */
 
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 757px) {
  #showcase{
    background-position: 43% 50%; 
    min-height: 400px;
  }
  #showcase h1{
    padding-top: 163px;
    font-size: 55px;
    padding-bottom: 10px;
    margin: 0;
  }

  #home h2{
    font-size: 5.5vw;
  }

  #home p{
    font-size: 2.5vw;
  }
}