/* import Desk from '../../images/oli-dale-139169-unsplash2.jpg'; */
#home{
  text-align: center;
}

#home h2{
  font-size: 30px;
}

/* showcase */
#showcase{
  min-height: 400px;
  min-width: 100%;
  background: url(../../images/desk.png) no-repeat 0 ;
  background-size: cover;
  color: #ffffff;
}

#showcase h1{
  padding-top: 200px;
  font-size: 55px;
  padding-bottom: 10px;
  margin: 0;
}

#showcase p{
  font-size: 20px;
}

/* services */
#services{
 color: #ffffff;
}
#services i{
  font-size: 115px;
 }