nav{
  border-bottom: 2px solid #e53935;
}

nav {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

nav span{
  color: #e53935;
}

@media screen and (max-width: 597px) {
  nav .brand-logo{
    font-size: 5.5vw;
  }
}